TRUCKCONSOLE/obj/project.assets.json
TRUCKCONSOLE/obj/project.nuget.cache
TRUCKCONSOLE/obj/TRUCKCONSOLE.csproj.nuget.dgspec.json
TRUCKCONSOLE/obj/Debug/net5.0/TRUCKCONSOLE.assets.cache
TRUCKCONSOLE/obj/Debug/net5.0/TRUCKCONSOLE.csprojAssemblyReference.cache
TRUCKMANAGEMENT/bin/Debug/net5.0/TRUCKMANAGEMENT.dll
TRUCKMANAGEMENT/bin/Debug/net5.0/TRUCKMANAGEMENT.pdb
TRUCKMANAGEMENT/bin/Debug/net5.0/TRUCKMANAGEMENT.Views.dll
TRUCKMANAGEMENT/bin/Debug/net5.0/TRUCKMANAGEMENT.Views.pdb
TRUCKMANAGEMENT/bin/Debug/net5.0/ref/TRUCKMANAGEMENT.dll
TRUCKMANAGEMENT/bin/Debug/net5.0/TRUCKMANAGEMENT.dll
TRUCKMANAGEMENT/bin/Debug/net5.0/TRUCKMANAGEMENT.pdb
TRUCKMANAGEMENT/bin/Debug/net5.0/TRUCKMANAGEMENT.Views.dll
TRUCKMANAGEMENT/bin/Debug/net5.0/TRUCKMANAGEMENT.Views.pdb
TRUCKMANAGEMENT/bin/Debug/net5.0/ref/TRUCKMANAGEMENT.dll
TRUCKMODEL/obj/project.assets.json
TRUCKMODEL/obj/project.nuget.cache
TRUCKMODEL/obj/TRUCKMODEL.csproj.nuget.dgspec.json
TRUCKMODEL/obj/Debug/net5.0/TRUCKMODEL.assets.cache
TRUCKMODEL/obj/Debug/net5.0/TRUCKMODEL.csprojAssemblyReference.cache
UtilityBE/obj/project.assets.json
UtilityBE/obj/project.nuget.cache
UtilityBE/obj/UtilityBE.csproj.nuget.dgspec.json
UtilityBE/obj/Debug/net5.0/UtilityBE.assets.cache
UtilityBE/obj/Debug/net5.0/UtilityBE.csprojAssemblyReference.cache
TRUCKMODEL/obj/Debug/net5.0/TRUCKMODEL.csprojAssemblyReference.cache
UtilityBE/obj/Debug/net5.0/UtilityBE.csprojAssemblyReference.cache
